<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-nr-min.css" />
  </head>

  <body style="margin: 20px;">
    <h1>Tasks</h1>
    <h2>List</h2>
    
    {{range .}}
      <div>Title: {{.Title}} - Done: {{.Done}}</div>
    {{ end }}

    <h2>Add</h2>
    <form action="/tasks" method="POST" class="pure-form">
      <input type="text" name="title" placeholder="name" />
      <input type="text" name="done" placeholder="done?" />
      <input type="submit" value="submit" class="pure-button pure-button-primary"/>
    </form>
  </body>
</html>